@use "./custom" as custom;

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.progress-bar {
    animation: progress 5s linear forwards;
}

@keyframes progress {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}
